# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

# Ignore compiled files
*.class
*.o
*.exe

# Ignore logs
logs/
*.log

# Ignore system files
.DS_Store
Thumbs.db

# ignore csv files
*.csv